/Musics/
New Year Again - Internal.prproj

/Adobe After Effects 自动保存/
/Adobe After Effects Auto-Save/
/Adobe Premiere Pro 自动保存/
/Adobe Premiere Pro Auto-Save/
Adobe Premiere Pro Audio Previews/
/Outputs/
/Sounds/
/Videos/